<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SQL_Northwind"
         connectionString="Data Source=DESKTOP-RG74P49;Persist Security Info=True;Initial Catalog=Northwind;User ID=sa;Password=0000"
         providerName="System.Data.SqlClient" />
    <add name="SQL_QLHS"
         connectionString="Data Source=DESKTOP-RG74P49;;Persist Security Info=True;Initial Catalog=QLHS;User ID=sa;Password=0000"
         providerName="System.Data.SqlClient" />
    <add name="_18600351.Properties.Settings.NorthwindConnectionString"
         connectionString="Data Source=DESKTOP-RG74P49;Initial Catalog=Northwind;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>